h1 {
  @apply text-6xl;
}

h3 {
  @apply text-4xl;
}
h4 {
  @apply text-2xl;
}
:root {
  font-size: 16px;
}
.repo-item:after {
  content: '';
  position: absolute;
  left: calc(-1rem / 2 - 2px);
  top: calc(50% - 1rem / 2);
  @apply w-4 h-4 bg-blue-600 rounded-full;
}
.input-box button {
  letter-spacing: 1.5px;
}
